<!-- feature-area-start -->
<section class="feature-area mainfeature__bg pt-50 pb-40" data-background="@Url.Content("~/img/shape/footer-shape-1.svg")">
    <div class="container">
        <div class="mainfeature__border pb-15">
            <div class="row row-cols-lg-5 row-cols-md-3 row-cols-2">
                <div class="col">
                    <div class="mainfeature__item text-center mb-30">
                        <div class="mainfeature__icon">
                            <img src="~/img/icon/feature-icon-1.svg" alt="">
                        </div>
                        <div class="mainfeature__content">
                            <h4 class="mainfeature__title">Giao Hàng Nhanh</h4>
                            <p>Trên toàn miền Bắc & Nam</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mainfeature__item text-center mb-30">
                        <div class="mainfeature__icon">
                            <img src="~/img/icon/feature-icon-2.svg" alt="">
                        </div>
                        <div class="mainfeature__content">
                            <h4 class="mainfeature__title">Thanh Toán An Toàn</h4>
                            <p>Bảo mật 100% thanh toán</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mainfeature__item text-center mb-30">
                        <div class="mainfeature__icon">
                            <img src="~/img/icon/feature-icon-3.svg" alt="">
                        </div>
                        <div class="mainfeature__content">
                            <h4 class="mainfeature__title">Giảm Giá Online</h4>
                            <p>Ưu đãi mua nhiều</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mainfeature__item text-center mb-30">
                        <div class="mainfeature__icon">
                            <img src="~/img/icon/feature-icon-4.svg" alt="">
                        </div>
                        <div class="mainfeature__content">
                            <h4 class="mainfeature__title">Trung Tâm Hỗ Trợ</h4>
                            <p>Hỗ trợ 24/7 chuyên nghiệp</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mainfeature__item text-center mb-30">
                        <div class="mainfeature__icon">
                            <img src="~/img/icon/feature-icon-5.svg" alt="">
                        </div>
                        <div class="mainfeature__content">
                            <h4 class="mainfeature__title">Sản Phẩm Tuyển Chọn</h4>
                            <p>Từ những nhà bán uy tín</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-area-end -->

<footer>
    <div class="tpfooter__area theme-bg-2">
        <div class="tpfooter__top pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="tpfooter__widget footer-col-1 mb-50">
                            <h4 class="tpfooter__widget-title">Chúng Tôi Hỗ Trợ Bạn</h4>
                            <p>
                                Nếu bạn có bất kỳ câu hỏi nào, vui lòng <br> liên hệ với chúng tôi:+84 368 502 432
                            </p>
                            <div class="tpfooter__widget-social mt-45">
                                <span class="tpfooter__widget-social-title mb-5">Mạng Xã Hội:</span>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="tpfooter__widget footer-col-2 mb-50">
                            <h4 class="tpfooter__widget-title">Tìm Kiếm Orfarm?</h4>
                            <p>Hoàng mai, Hà Nội <br> Newyork NH2012, UK.</p>
                            <div class="tpfooter__widget-time-info mt-35">
                                <span>Thứ Hai – Thứ Sáu: <b>8:10 AM – 6:10 PM</b></span>
                                <span>Thứ Bảy: <b>10:10 AM – 06:10 PM</b></span>
                                <span>Chủ Nhật: <b>Đóng cửa</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-5">
                        <div class="tpfooter__widget footer-col-3 mb-50">
                            <h4 class="tpfooter__widget-title">DANH MỤC HOT</h4>
                            <div class="tpfooter__widget-links">
                                <ul>
                                    <li><a href="#">Điện thoại</a></li>
                                    <li><a href="#">Laptop</a></li>
                                    <li><a href="#">Tai nghe</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-7">
                        <div class="tpfooter__widget footer-col-4 mb-50">
                            <h4 class="tpfooter__widget-title">Bản tin của chúng tôi</h4>
                            <div class="tpfooter__widget-newsletter">
                                <p>Đăng ký danh sách gửi thư của Orfarm để nhận cập nhật <br> về hàng mới về & thông tin khác.</p>
                                <form action="index.html">
                                    <span><i><img src="~/img/shape/message-1.svg" alt=""></i></span>
                                    <input type="email" placeholder="Địa chỉ email của bạn...">
                                    <button class="tpfooter__widget-newsletter-submit tp-news-btn">Đăng Ký</button>
                                </form>
                                <div class="tpfooter__widget-newsletter-check mt-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Tôi đồng ý với điều khoản & điều kiện & chính sách bảo mật.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>