@{
    ViewBag.Title = "Nhân sự";
}
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 75vw">
        @Html.Partial("_AccountViewModal")
    </div>
</div>

<div class="modal fade" id="createAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 75vw">
        @Html.Partial("_CreateModal")
    </div>
</div>


<div class="main-content-inner">

    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Danh sách tài khoản nhân sự</h3>

            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="index.html"><div class="text-tiny">Admin</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Tài khoản</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Nhân sự</div>
                </li>
            </ul>
        </div>

        <!-- table data -->
        <div class="wg-box" style="overflow:auto;">
            <div class="title-box">
                <i class="icon-coffee"></i>
                <div class="body-text">Tìm kiếm theo tên, email, Id tài khoản ...</div>
            </div>
            <div class="flex items-center justify-between gap10 flex-wrap">

                <div class="wg-filter flex-grow">
                    <div class="show">
                        <div class="text-tiny">Hiển thị</div>
                        <div class="select">
                            <select id="numberShowing">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                            </select>
                        </div>
                        <div class="text-tiny">Tài khoản</div>
                    </div>
                    <form class="form-search">
                        <fieldset class="name">
                            <input type="text" placeholder="Tìm kiếm ..." class="" id="search" tabindex="2">
                        </fieldset>
                        <div class="button-submit">
                            <button class="" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
                <a class="tf-button style-1 w208" onclick="openModalCreate()"><i class="icon-plus"></i>Thêm mới</a>
            </div>
            <table class="antraz-table">
                <thead>
                    <tr class="antraz-table-title">
                        <th style="width:20%">Họ tên</th>
                        <th>Mã NV</th>
                        <th style="width:18%">Email</th>
                        <th style="width:12%">Role</th>
                        <th style="width:12%">Trạng thái</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="table-data">
                </tbody>
            </table>


            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap10">
                <div class="text-tiny" id="totalItem"></div>
                <ul class="wg-pagination" id="pageNumber">
                    <li>
                        <a id="firstPageButton"><i class="fas fa-angle-double-left"></i></a>
                    </li>

                    <li>
                        <a id="prevPageButton"><i class="fa-solid fa-angle-left"></i></a>
                    </li>

                    <li>
                        <a id="nextPageButton"><i class="fa-solid fa-angle-right"></i></a>
                    </li>
                    <li>
                        <a id="lastPageButton"><i class="fa-solid fa-angles-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /product-list -->
    </div>
    <!-- /main-content-wrap -->
</div>
<script src="~/admin/js/api-jquery/Base/pagination-base.js"></script>
<script src="~/admin/js/api-jquery/account/listWorkerAccount.js"></script>