@{
    ViewBag.Title = "Nhân sự";
}
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 75vw">
        <div class="modal-content" style="">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5>ID: # </h5>
                <h5 id="id-user"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeView()"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form class="tf-section-2 form-add-product">
                    <div class="wg-box">
                        <fieldset>

                            <div class="upload-image">
                                <div class="item">
                                    <img id="avatar-image" style="object-fit: contain;" alt="">
                                </div>

                            </div>
                        </fieldset>
                        <fieldset style="padding:0px 50px">
                            <div class="antraz-info-row">
                                <p>Email</p>
                                <p id="user-email"></p>
                            </div>

                            <div class="antraz-info-row">
                                <p>Tên tài khoản</p>
                                <p id="user-name"></p>
                            </div>

                            <div class="antraz-info-row">
                                <p>Ngày sinh</p>
                                <p id="user-birthday"></p>
                            </div>

                            <div class="antraz-info-row">
                                <p>Giới tính</p>
                                <p id="user-gender"></p>
                            </div>

                            <div class="antraz-info-row">
                                <p>Địa chỉ</p>
                                <p id="user-address"></p>
                            </div>

                            <div class="antraz-info-row">
                                <p>Quê quán</p>
                                <p id="user-hometown"></p>
                            </div>

                            <div class="antraz-info-row">
                                <p>Ngày tạo tài khoản</p>
                                <p id="user-create-at"></p>
                            </div>

                            <div style="text-align:right">
                                <a onclick="historyLogin()" class="body-text tf-color">Lịch sử đăng nhập</a>
                            </div>
                        </fieldset>

                        @* Bảng lịch sử đăng nhập *@
                        <div class="table-responsive" style="max-height:250px; overflow-y: auto;">
                            <table id="table-history-visiable" class="table table-striped table-hover" style="display:none;">
                                <thead style=" background: white; font-size:14px; position: sticky; top: 0; z-index: 1;">
                                    <tr>
                                        <th style="width:170px; border:none;">Thời gian</th>
                                        <th style="width:100px; border:none;">Địa chỉ IP</th>
                                        <th style="border:none">Thông tin</th>
                                    </tr>
                                </thead>
                                <tbody id="table-history">
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <input id="imageProductName" type="hidden" />
                    <div class="wg-box">
                        <div class="container">
                            <!--Trạng thái tài khoản-->
                            <div style="display: flex; align-items: center; margin-bottom:20px;">
                                <h5>Trạng thái</h5>
                                <label class="switch" style="margin-left: auto;">
                                    <input type="checkbox" id="isActive">
                                    <span class="slider"></span>
                                </label>
                            </div>

                            <div style="display: flex; justify-content:space-between">
                                <h6 class="mb-4" style="min-width:100px">Chức vụ: </h6>
                                <p id="user-list-roles"></p>
                            </div>

                            <div style="text-align:right">
                                <a onclick="startEditRoles()" style="cursor: pointer;" id="a-edit-role" class="body-text tf-color">Chỉnh sửa vai trò</a>
                            </div>


                            <!--Gán vai trò-->
                            <div class="row" id="list-roles" style="max-height: 380px; overflow-y: auto; overflow-x: hidden; margin-top:10px; display:none">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="col-7"></div>
                <div class="col-5" style="display: flex; gap: 10px;">
                    <button type="button" id="btn-cancle" class="tf-button style-1 w-full" onclick="cancleEditRole()">Huỷ</button>
                    <button type="button" class="tf-button w-full" onclick="saveSetRoles()" id="btn-save">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content-inner">

    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Danh sách tài khoản nhân sự</h3>

            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="index.html"><div class="text-tiny">Admin</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Tài khoản</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Nhân sự</div>
                </li>
            </ul>
        </div>

        <!-- table data -->
        <div class="wg-box" style="overflow:auto;">
            <div class="title-box">
                <i class="icon-coffee"></i>
                <div class="body-text">Tìm kiếm theo tên, email, Id tài khoản ...</div>
            </div>
            <div class="flex items-center justify-between gap10 flex-wrap">

                <div class="wg-filter flex-grow">
                    <div class="show">
                        <div class="text-tiny">Hiển thị</div>
                        <div class="select">
                            <select id="numberShowing">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                            </select>
                        </div>
                        <div class="text-tiny">Tài khoản</div>
                    </div>
                    <form class="form-search">
                        <fieldset class="name">
                            <input type="text" placeholder="Tìm kiếm ..." class="" id="search" tabindex="2">
                        </fieldset>
                        <div class="button-submit">
                            <button class="" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="antraz-table">
                <thead>
                    <tr class="antraz-table-title">
                        <th>Họ tên</th>
                        <th>Mã NV</th>
                        <th style="width:20%">Email</th>
                        <th style="width:15%">Role</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Hành động</th>

                    </tr>
                </thead>
                <tbody id="table-data">
                </tbody>
            </table>


            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap10">
                <div class="text-tiny" id="totalItem"></div>
                <ul class="wg-pagination" id="pageNumber">
                    <li>
                        <a id="firstPageButton"><i class="fas fa-angle-double-left"></i></a>
                    </li>

                    <li>
                        <a id="prevPageButton"><i class="fa-solid fa-angle-left"></i></a>
                    </li>

                    <li>
                        <a id="nextPageButton"><i class="fa-solid fa-angle-right"></i></a>
                    </li>
                    <li>
                        <a id="lastPageButton"><i class="fa-solid fa-angles-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /product-list -->
    </div>
    <!-- /main-content-wrap -->
</div>
<script src="~/admin/js/api-jquery/Base/pagination-base.js"></script>
<script src="~/admin/js/api-jquery/account/listWorkerAccount.js"></script>