@{
    ViewBag.Title = "Danh sách thương hiệu";
}

<div class="flex items-center flex-wrap justify-between gap20 mb-27">
    <h3 style="margin-left:20px; margin-top:10px;">Danh sách thương hiệu</h3>
    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
        <li>
            <a href="index.html"><div class="text-tiny">Admin</div></a>
        </li>
        <li>
            <i class="icon-chevron-right"></i>
        </li>
        <li>
            <a href="#"><div class="text-tiny">Thương hiệu</div></a>
        </li>
        <li>
            <i class="icon-chevron-right"></i>
        </li>
        <li>
            <div class="text-tiny">Danh sách thương hiệu</div>
        </li>
    </ul>
</div>
<!-- all-category -->
<div class="wg-box">
    <div class="flex items-center justify-between gap10 flex-wrap">
        <div class="wg-filter flex-grow">
            <div class="show">
                <div class="text-tiny">Hiển thị</div>
                <div class="select">
                    <select class="">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                </div>
                <div class="text-tiny">Thương hiệu</div>
            </div>
            <form class="form-search">
                <fieldset class="name">
                    <input type="text" placeholder="Tìm kiếm..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
                </fieldset>
                <div class="button-submit">
                    <button class="" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
        <a class="tf-button style-1 w208" href="new-category.html"><i class="icon-plus"></i>Tạo mới</a>
    </div>
    <div class="wg-table table-all-category">
        <ul class="table-title flex gap20 mb-14">
            <li>
                <div class="body-title">Tên thương hiệu</div>
            </li>
            <li>
                <div class="body-title">Id</div>
            </li>
            <li>
                <div class="body-title">Mô tả</div>
            </li>
            <li>
                <div class="body-title">Sản phẩm</div>
            </li>
            <li>
                <div class="body-title">Hành động</div>
            </li>
        </ul>
        <ul class="flex flex-column">
            <li class="product-item gap14" id="list-brand">
                <div class="image no-bg">
                    <img src="/admin/img/brandlogo/apple.png" alt="">
                </div>
                <div class="flex items-center justify-between gap20 flex-grow" >
                    <div class="name">
                        <a id="name" href="product-list.html" class="body-title-2">Dried food</a>
                    </div>
                    <div class="body-text">#1</div>
                    <div class="body-text">1,638</div>
                    <div class="body-text">20</div>

                    <div class="list-icon-function">
                        <div class="item eye">
                            <i class="icon-eye"></i>
                        </div>
                        <div class="item edit">
                            <i class="icon-edit-3"></i>
                        </div>
                        <div class="item trash">
                            <i class="icon-trash-2"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="flex items-center justify-between flex-wrap gap10">
        <div class="text-tiny">Showing 10 entries</div>
        <ul class="wg-pagination">
            <li>
                <a href="#"><i class="icon-chevron-left"></i></a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li class="active">
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#"><i class="icon-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<script src="/admin/js/api-jquery/brand.js"></script>