<div class="tpshop__leftbar">
    <!--Search start-->
    <div class="tpsideinfo__search text-center">
        <span class="tpsideinfo__search-title mb-20">What Are You Looking For?</span>
        <form id="search-product-form">
            <input id="search-product" type="text" placeholder="Tìm kiếm sản phẩm...">
            <button type="submit"><i class="icon-search"></i></button>
        </form>
    </div>
    <!--Search end-->

    <!--Price start-->
    <div class="tpshop__widget mb-30 pb-25">
        <h4 class="tpshop__widget-title mb-20">Mức giá</h4>
        <div class="productsidebar">
            <div class="productsidebar__head">
            </div>
            <div class="productsidebar__range">
                <div id="slider-range"></div>
                <div class="price-filter mt-10">
                    <input type="text" id="price-filter">
                </div>
            </div>
        </div>
        <div class="productsidebar__btn mt-15 mb-15">
            <a onclick="filterPrice()" href="#">Lọc</a>
        </div>
    </div>
    <!--Price end-->

    <!--Category start-->
    <div class="tpshop__widget mb-30 pb-25">
        <h4 class="tpshop__widget-title">Danh mục</h4>

        <!-- Checkbox "Tất cả" -->
        <div class="form-check">
            <input class="form-check-input" checked type="checkbox" id="check-all-categtory">
            <label class="form-check-label" for="check-all-categtory">
                Tất cả
                <span id="tottalProductCategory"></span>
            </label>
        </div>

        <!-- Các checkbox phân loại -->
        <div id="categories-list">
        </div>
    </div>

    <!--Brand Category-->

    <!--Brand start-->
    <div class="tpshop__widget mb-30 pb-25">
        <h4 class="tpshop__widget-title">Thương hiệu</h4>

        <!-- Checkbox "Tất cả" -->
        <div class="form-check">
            <input class="form-check-input" checked type="checkbox" id="check-all-brand">
            <label class="form-check-label" for="check-all-brand">
                Tất cả
                <span id="tottalProductBrand"></span>
            </label>
        </div>

        <!-- Các checkbox thương hiệu -->
        <div id="brands-list">
        </div>
    </div>

    <!--Brand end-->  

</div>

<div class="tpshop__widget">
    <div class="tpshop__sidbar-thumb mt-35">
        <img src="~/img/shape/banner-sidebar-antraz.svg" alt="">
    </div>
</div>
