.antraz-table {
    border: none;
    font-size: 14px;
    white-space: nowrap;
    min-width: 1132px;
    border-radius: 12px;
    overflow: hidden;
}

    .antraz-table td {
        border-radius: 12px;
    }

.antraz-table-title {
    width: 100%;
    justify-content: space-between;
    background-color: #D9EAFD;
    border-radius: 12px;
}

    .antraz-table-title th {
        height: 50px;
        padding-left: 0px;
        vertical-align: middle;
        margin-bottom: 50px;
    }

        .antraz-table-title th:first-child {
            width: 25%;
            padding-left: 12px
        }


        .antraz-table-title th:last-child {
            width: 10%;
            padding-right: 7px;
            text-align: center;
        }

.antraz-table-item {
    vertical-align: middle;
    width: 100%;
    padding: 7px;
    padding-left: 0px;
}

.antraz-table .antraz-table-list:nth-child(2n+1) {
    background-color: #F8FAFC;
}

.antraz-table .antraz-table-list {
    padding: 12px;
}

    .antraz-table .antraz-table-list:hover {
        background-color: #E0E7EB;
    }

.antraz-table-item:first-child {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-left: 12px
}

.antraz-table-item:last-child {
    width: 10%;
    padding-right: 0px;
    text-align: right;
}


.antraz-table-item .image {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 10px;
    background: #EFF4F8;
}

    .antraz-table-item .image.no-bg {
        padding: 0;
        background-color: unset;
    }

.antraz-table th {
    border: none;
}

.preload-logo{
    display: flex;
    justify-content:center;
    align-items:center;
}
