<div class="box-logo">
    <a href="/home" id="site-logo-inner">
        <img class="ms-5" id="logo_header" src="~/img/Logo/antrazLight.png" data-light="/img/Logo/antrazLight.png" data-dark="/img/Logo/antrazDark.png" style="height:52px">
    </a>
    <div class="button-show-hide">
        <i class="icon-menu-left"></i>
    </div>
</div>
<div class="center">
    <div class="center-item">
        <div class="center-heading">Dashboard</div>
        <ul class="menu-list">
            <li class="menu-item">
                <a href="/admin/dashboard" class="menu-item-button my-custom menu-item-active">
                    <div class="icon"><i class="icon-grid"></i></div>
                    <div class="text">Tổng quan</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="center-item">
        <div class="center-heading">Thương mại điện tử</div>
        <ul class="menu-list">
            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button" sss>
                    <div class="icon"><i class="icon-shopping-cart"></i></div>
                    <div class="text">Sản phẩm</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="/admin/product" class="menu-item-active">
                            <div class="text">DS sản phẩm</div>
                        </a>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="/admin/product/create" class="menu-item-active">
                            <div class="text">Tạo sản phẩm</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item">
                <a href="/admin/category" class="menu-item-button my-custom menu-item-active">
                    <div class="icon"><i class="icon-layers"></i></div>
                    <div class="text">Danh mục</div>
                </a>  
            </li>

            <li class="menu-item">
                <a href="/admin/brand" class="menu-item-button my-custom menu-item-active">
                    <div class="icon"><i class="icon-box"></i></div>
                    <div class="text">Thương hiệu</div>
                </a>    
            </li>

            <li class="menu-item">
                <a href="/admin/order" class="menu-item-button my-custom menu-item-active">
                    <div class="icon"><i class="icon-file-plus"></i></div>
                    <div class="text">Đơn hàng</div>
                </a>
            </li>

          
        </ul>
    </div>

    <div class="center-item">
        <div class="center-heading">Tài khoản</div>
        <ul class="menu-list">

            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="text">Người dùng</div>
                </a>

                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="/admin/account" class="menu-item-active">
                            <div class="text">Nhân sự</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="/admin/account/customer" class="menu-item-active">
                            <div class="text">Khách hàng</div>
                        </a>
                    </li>
                   
                </ul>
            </li>

            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-user-plus"></i></div>
                    <div class="text">Chức vụ</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="/admin/role" class="menu-item-active">
                            <div class="text">Danh sách</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="/admin/role/createrole" class="menu-item-active">
                            <div class="text">Tạo chức vụ</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="center-item">
        <div class="center-heading">Cài đặt</div>
        <ul class="menu-list">
            <li class="menu-item" class="menu-item-button my-custom menu-item-active">
                <a href="/admin/setting" class="">
                    <div class="icon"><i class="icon-settings"></i></div>
                    <div class="text">Cài đặt</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="center-item">
        <div class="center-heading">Connect us</div>
        <ul class="wg-social">
            <li>
                <a href="https://www.facebook.com/tran.luc.287217"><i class="icon-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/@@ttl8168"><i class="icon-youtube"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/tranluc2305/"><i class="icon-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>
<script src="/admin/js/api-jquery/sidebar-active.js"></script>

