@* Modal View *@



<form class="form-add-product" style="display:flex; gap:18px;">

    <div class="wg-box col-3">
        <div class="modal fade" id="productCCModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width:50vw">
                <div class="modal-content" style="">
                    @Html.Partial("_ModalProductCC")
                </div>
            </div>
        </div>
        <fieldset>
            <label for="name" class="body-title mb-10">Tên sản phẩm</label>
            <input class="mb-10 validate-input" type="text" placeholder="Điền tên sản phẩm" tabindex="0" id="name">
            <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
        </fieldset>

        <div class="gap22 cols">
            <fieldset>
                <label for="discountAmount" class="body-title mb-10">Giảm giá</label>
                <input class="mb-10 validate-input" type="number" placeholder="Giảm giá sản phẩm" id="discountAmount" tabindex="0">
                <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
            </fieldset>
        </div>

        <div class="gap22 cols">
            <fieldset>
                <label for="brandid" class="body-title mb-10">Thương hiệu </label>
                <div class="select">
                    <select id="brandid" class="mb-10 validate-input">
                        <option value="">Chọn thương hiệu</option>
                        <option value="1">Apple</option>
                        <option value="2">Samsung</option>
                        <option value="3">Dell</option>
                        <option value="4">Sony</option>
                        <option value="5">Xiaomi</option>
                        <option value="6">Acer</option>
                        <option value="7">Lenovo</option>
                        <option value="8">Asus</option>
                        <option value="9">Logitech</option>
                    </select>

                    <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
                </div>

            </fieldset>
        </div>
        <div class="gap22 cols">
            <fieldset>
                <label for="categoryid" class="body-title mb-10">Danh mục </label>
                <div class="select">
                    <select id="categoryid" class="mb-10 validate-input">
                        <option value="">Chọn danh mục</option>
                        <option value="1">Smart Phone</option>
                        <option value="2">Laptop</option>
                        <option value="3">Tài cả</option>
                        <option value="4">Tivi</option>
                        <option value="5">Phụ kiện điện thoại</option>
                        <option value="6">Gaming Gear</option>
                        <option value="7">Âm thanh</option>
                        <option value="8">Sạc & Cáp</option>
                        <option value="9">PC & Linh kiện</option>
                        <option value="10">Màn hình & Phụ kiện</option>
                    </select>
                    <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
                </div>

            </fieldset>
        </div>

        <fieldset>
            <label class="body-title mb-20">Ảnh đại diện sản phẩm</label>
            <div class="upload-image mb-16">
                <div class="item up-load image-border" style="width:100%">
                    <label class="uploadfile mb-0" for="imageView" style="gap:0;">
                        @* icon *@
                        <span id="uploadIcon" class="icon" style="">
                            <i class="icon-upload-cloud"></i>
                        </span>

                        @* Ảnh thay thế icon *@
                        <div class="img-preview-product" style="width:100%; display:none; ">
                            <img style="object-fit: contain;" id="imagePreview" alt="">
                        </div>

                        @* Input *@
                        <input class="form-control-plaintext" type="file" id="imageView" accept="image/*">
                        <div class="text-tiny error-message text-danger" id="error-message-image" style="font-style : italic"></div>
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="wg-box col-9">

        <div class="gap22 cols">
            <fieldset>
                <label for="description" class="body-title mb-10">Mô tả</label>
                <textarea class="mb-10 validate-input" id="description" placeholder="Điền mô tả sản phẩm" tabindex="0"></textarea>
                <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
            </fieldset>
        </div>

        <div style="display:flex; justify-content: space-between; align-items: center;">

            <div><h5>Phân loại</h5></div>
            <div @* style="max-width:7%" *@>
                <button type="button" class="tf-button w-full" id="modal-cc-open"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>


        <div class="gap22 cols">
            <table class="antraz-table" style="min-width:0px;">
                <thead>
                    <tr class="antraz-table-title">
                        <th style="width:8%">STT</th>
                        <th style="width:10%">Ảnh</th>
                        <th>Màu</th>
                        <th>Dung lượng</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="productCC-list">
                </tbody>
            </table>
        </div>
        <div class="cols gap10">
            <button type="button" id="btn_create" class="tf-button w-full" onclick="CreateProduct()">Tạo sản phẩm</button>
            <button type="button" id="btn_update" class="tf-button w-full" style="display:none" onclick="saveUpdate()">Lưu sản phẩm</button>
            <button onclick="ResetData()" id="btn_reset" class="tf-button style-1 w-full">Làm mới</button>
        </div>
    </div>
</form>

<script src="/admin/js/api-jquery/product/load-brand-category.js"></script>