
<form class="form-add-product" style="display:flex; gap:18px;">
    <div class="wg-box col-3">
        <fieldset>
            <label for="name" class="body-title mb-10">Tên sản phẩm</label>
            <input class="mb-10 validate-name" type="text" placeholder="Điền tên sản phẩm" tabindex="0" id="name">
            <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
        </fieldset>

        <div class="gap22 cols">
            <fieldset>
                <label for="discountAmount" class="body-title mb-10">Giảm giá</label>
                <input class="mb-10 validate-name" type="number" placeholder="Giảm giá sản phẩm" id="discountAmount" tabindex="0">
                <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
            </fieldset>
        </div>

        <div class="gap22 cols">
            <fieldset>
                <label for="brandid" class="body-title mb-10">Thương hiệu </label>
                <div class="select validate-name">
                    <select id="brandid" class="mb-10">
                        <option value="">Chọn thương hiệu</option>
                        <option value="1">Apple</option>
                        <option value="2">Samsung</option>
                        <option value="3">Dell</option>
                    </select>

                    <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
                </div>

            </fieldset>
        </div>
        <div class="gap22 cols">
            <fieldset>
                <label for="categoryid" class="body-title mb-10">Danh mục </label>
                <div class="select validate-name">
                    <select id="categoryid" class="mb-10">
                        <option value="">Chọn danh mục</option>
                        <option value="1">Smart Phone</option>
                        <option value="2">Laptop</option>
                    </select>
                    <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
                </div>

            </fieldset>
        </div>

        <fieldset>
            <label class="body-title mb-10">Ảnh đại diện sản phẩm</label>
            <div class="upload-image mb-16">
                <div class="item">
                    <img style="object-fit: contain;" id="imagePreview" alt="">
                </div>
                <div class="item up-load">
                    <label class="uploadfile" for="imageView">
                        <span class="icon">
                            <i class="icon-upload-cloud"></i>
                        </span>

                        <input class="form-control-plaintext" type="file" id="imageView" accept="image/*">
                        <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
                    </label>
                </div>
            </div>
        </fieldset>
        @*  <div class="gap22 cols">
            <fieldset>
                <label for="status" class="body-title mb-10">Trạng thái</label>
                <div class="select">
                    <select id="status" class="validate-name">
                        <option value="">Chọn trạng thái</option>
                        <option value="1">Hiện</option>
                        <option value="0">Ẩn</option>
                        <option value="3">Còn hàng</option>
                        <option value="4">Hết hàng</option>
                    </select>
                    <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
                </div>
            </fieldset>
            <fieldset>
                <label for="stock" class="body-title mb-10">Tồn kho</label>
                <input class="mb-10 validate-name" type="number" placeholder="Số lượng tồn kho" id="stock" tabindex="0">
                <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
            </fieldset>
        </div> *@

        @*  <fieldset>
            <label for="description " class="body-title mb-10">Mô tả</label>
            <textarea class="mb-10 validate-name" id="description" placeholder="Điền mô tả sản phẩm" tabindex="0"></textarea>
            <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
        </fieldset> *@
    </div>
    <input id="imageProductName" type="hidden" />
    <div class="wg-box col-9">

        <div class="gap22 cols">
            <fieldset>
                <label for="description" class="body-title mb-10">Mô tả</label>
                <textarea class="mb-10 validate-name" id="description" placeholder="Điền mô tả sản phẩm" tabindex="0"></textarea>
                <div class="text-tiny error-message text-danger" style="font-style : italic"></div>
            </fieldset>
        </div>

        <div style="display:flex; justify-content: space-between;">

            <div><h5>Phân loại</h5></div>
        </div>

        <div class="gap22 cols">
            <fieldset>
                <label for="color" class="body-title mb-10">Màu</label>
                <input class="mb-10 validate-form-cc" type="text" placeholder="" id="color" tabindex="0">
                <div class="text-tiny error-message-cc text-danger" style="font-style : italic"></div>
            </fieldset>
            <fieldset>
                <label for="capacity" class="body-title mb-10">Dung lượng</label>
                <input class="mb-10 validate-form-cc" type="text" placeholder="" id="capacity" tabindex="0">
                <div class="text-tiny error-message-cc text-danger" style="font-style : italic"></div>
            </fieldset>
            <fieldset>
                <label for="price" class="body-title mb-10">Giá</label>
                <input class="mb-10 validate-form-cc" type="number" placeholder="" id="price" tabindex="0">
                <div class="text-tiny error-message-cc text-danger" style="font-style : italic"></div>
            </fieldset>
            <fieldset>
                <label for="stock" class="body-title mb-10">Tồn kho</label>
                <input class="mb-10 validate-form-cc" type="number" placeholder="" id="stock" tabindex="0">
                <div class="text-tiny error-message-cc text-danger" style="font-style : italic"></div>
            </fieldset>
            <fieldset>
                <label for="status" class="body-title mb-10">Trạng thái</label>
                <div class="select">
                    <select id="status" class="validate-form-cc mb-10">
                        <option value="">Chọn</option>
                        <option>Đang bán</option>
                        <option>Ngừng bán</option>
                    </select>
                    <div class="text-tiny error-message-cc text-danger" style="font-style : italic"></div>
                </div>
            </fieldset>
            <fieldset style="max-width:7%">
                <label for="status" class="body-title mb-10"><br /></label>
                <button type="button" onclick="AddProductCC()" class="tf-button w-full"><i class="fa-solid fa-plus"></i></button>
            </fieldset>
            
        </div>
        <div class="text-tiny text-danger" style="font-style : italic" id="error-text-cc-message"></div>
        <div class="gap22 cols">
            <table class="antraz-table" style="min-width:0px;">
                <thead>
                    <tr class="antraz-table-title">
                        <th style="width:auto">Màu</th>
                        <th>Dung lượng</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="productCC-list">
                   
                </tbody>
            </table>
        </div>
        <div class="cols gap10">
            <button type="button" id="btn_create" class="tf-button w-full" onclick="CreateProduct()">Tạo sản phẩm</button>
            <button type="button" id="btn_update" class="tf-button w-full" style="display:none" onclick="saveUpdate()">Lưu sản phẩm</button>
            <button onclick="ResetData()" class="tf-button style-1 w-full">Làm mới</button>
        </div>
    </div>
</form>