@{
    ViewBag.Title = "Tổng quan";
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="tf-section-4 mb-30">
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image type-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path d="M19.1094 2.12943C22.2034 0.343099 26.0154 0.343099 29.1094 2.12943L42.4921 9.85592C45.5861 11.6423 47.4921 14.9435 47.4921 18.5162V33.9692C47.4921 37.5418 45.5861 40.8431 42.4921 42.6294L29.1094 50.3559C26.0154 52.1423 22.2034 52.1423 19.1094 50.3559L5.72669 42.6294C2.63268 40.8431 0.726688 37.5418 0.726688 33.9692V18.5162C0.726688 14.9435 2.63268 11.6423 5.72669 9.85592L19.1094 2.12943Z" fill="#22C55E" />
                            </svg>
                            <i class="icon-shopping-bag"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Sản phẩm đã bán</div>
                            <h4 id="total-products-sold">0</h4>
                        </div>

                        <div id="productsSoldGrowthRate">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /chart-default -->
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image type-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path d="M19.1094 2.12943C22.2034 0.343099 26.0154 0.343099 29.1094 2.12943L42.4921 9.85592C45.5861 11.6423 47.4921 14.9435 47.4921 18.5162V33.9692C47.4921 37.5418 45.5861 40.8431 42.4921 42.6294L29.1094 50.3559C26.0154 52.1423 22.2034 52.1423 19.1094 50.3559L5.72669 42.6294C2.63268 40.8431 0.726688 37.5418 0.726688 33.9692V18.5162C0.726688 14.9435 2.63268 11.6423 5.72669 9.85592L19.1094 2.12943Z" fill="#FF5200" />
                            </svg>
                            <i class="icon-dollar-sign"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Doanh thu (VNĐ)</div>
                            <h4 id="total-revenue">0 VNĐ</h4>
                        </div>
                    </div>
                    <div id="revenueGrowthRate">
                    </div>
                </div>
                <div class="wrap-chart">
                    <div id="line-chart-2"></div>
                </div>
            </div>
            <!-- /chart-default -->
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image type-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path d="M19.1094 2.12943C22.2034 0.343099 26.0154 0.343099 29.1094 2.12943L42.4921 9.85592C45.5861 11.6423 47.4921 14.9435 47.4921 18.5162V33.9692C47.4921 37.5418 45.5861 40.8431 42.4921 42.6294L29.1094 50.3559C26.0154 52.1423 22.2034 52.1423 19.1094 50.3559L5.72669 42.6294C2.63268 40.8431 0.726688 37.5418 0.726688 33.9692V18.5162C0.726688 14.9435 2.63268 11.6423 5.72669 9.85592L19.1094 2.12943Z" fill="#CBD5E1" />
                            </svg>
                            <i class="icon-file"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Đơn hàng mới</div>
                            <h4 id="total-orders">
                                0
                            </h4>
                        </div>
                    </div>
                    <div id="ordersGrowthRate">
                    </div>

                </div>
            </div>
            <!-- /chart-default -->
            <!-- chart-default -->
            <div class="wg-chart-default">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap14">
                        <div class="image type-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52" viewBox="0 0 48 52" fill="none">
                                <path d="M19.1094 2.12943C22.2034 0.343099 26.0154 0.343099 29.1094 2.12943L42.4921 9.85592C45.5861 11.6423 47.4921 14.9435 47.4921 18.5162V33.9692C47.4921 37.5418 45.5861 40.8431 42.4921 42.6294L29.1094 50.3559C26.0154 52.1423 22.2034 52.1423 19.1094 50.3559L5.72669 42.6294C2.63268 40.8431 0.726688 37.5418 0.726688 33.9692V18.5162C0.726688 14.9435 2.63268 11.6423 5.72669 9.85592L19.1094 2.12943Z" fill="#2377FC" />
                            </svg>
                            <i class="icon-users"></i>
                        </div>
                        <div>
                            <div class="body-text mb-2">Khách hàng mới</div>
                            <h4 id="total-new-customers">0</h4>
                        </div>
                    </div>
                    <div id="newCustomersGrowthRate">
                    </div>
                </div>
                <div class="wrap-chart">
                    <div id="line-chart-4"></div>
                </div>
            </div>
            <!-- /chart-default -->
        </div>
        <div class="tf-section-5 mb-30">
            <!-- chart -->
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Đơn hàng mới</h5>
                    <div class="dropdown default">
                       
                    </div>
                </div>
                <div class="wg-table table-orders">
                    <ul class="flex items-center justify-between flex-grow gap10">
                        <li>
                            <div class="body-title">Mã đơn hàng</div>
                        </li>
                        <li>
                            <div class="body-title">Thành tiền</div>
                        </li>
                        <li>
                            <div class="body-title">Ngày tạo</div>
                        </li>
                    </ul>
                    <ul id="new-orders-list" style="height:300px;" class="flex flex-column gap18">
                        <li class="product-item gap14">
                            <div class="image small">
                                <img src="images/products/11.png" alt="">
                            </div>
                            <div class="flex items-center justify-between flex-grow gap10">
                                <div class="name">
                                    <a href="product-list.html" class="body-text">Prodotti per il tuo cane...</a>
                                </div>
                                <div class="body-text">20 Nov 2023</div>
                                <div class="body-text">20 Nov 2023</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /chart -->
            <!-- thống kê đơn hàng mới -->
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Thống kê đơn hàng mới</h5>
                    <div class="select">
                        <select onchange="loadRecentOrder()" style="width: 140px !important;" id="recent-order-count-day" class="mb-10 validate-input">
                            <option value="7">7 ngày</option>
                            <option value="30">30 ngày</option>
                        </select>
                    </div>
                </div>
                <div id="recent-order-chart"></div>
            </div>
            <!-- /Thống kê đơn hàng mới -->
            <!-- top-countries -->
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Trạng thái</h5>

                    <div>
                      
                    </div>
                </div>
                <div id="order-chart"></div>
            </div>
            <!-- /top-countries -->
        </div>
        <div class="tf-section-2">

            <div class="wg-box">
                <h5>Thống kê doanh thu</h5>
                <div id="recent-revenue-chart"></div>
            </div>
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Top sản phẩm bán chạy</h5>
                </div>
                <div style="max-height: 500px; overflow-y: auto;">
                    <table class="antraz-table" style="min-width:100px">
                        <thead>
                            <tr class="antraz-table-title">
                                <th style="width:320px;">Tên sản phẩm</th>
                                <th>Giá</th>
                                <th style="width:50px;">SL</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody id="product-list">
                            <tr>
                                <!-- Data rows here -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-content-wrap -->
</div>
<script src="~/admin/js/apexcharts/apexcharts.js"></script>
<script src="~/admin/js/api-jquery/dashboard/load-data-dashboard.js"></script>
<script src="~/admin/js/api-jquery/dashboard/order-chart.js"></script>
<script src="~/admin/js/api-jquery/dashboard/revenue-chart.js"></script>
<script src="~/admin/js/api-jquery/dashboard/load-top-product.js"></script>
